@model DevDemo.ViewModels.UserInfoViewModel

<h4>UserInfoViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="FileUpload" asp-controller="UserInfo" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserFiles"></label>
                <input type="file" multiple class="form-control-file" asp-for="UserFiles">
                <span asp-validation-for="UserFiles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
